body {
    margin: 0px;
    padding: 0px;
    background-image: url(img/Screenshot\ \(282\).png);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.konversi-body {
    background-color: black;
    width: 400px;
    height: 400px;
    /*position: absolute;
    */margin:0 auto ;
    padding:20px;
    text-align: center;
    /*display: flex;
    */justify-content: center;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20PX;
    -webkit-border-radius: 20PX;
    -moz-border-radius: 20PX;
    -ms-border-radius: 20PX;
    -o-border-radius: 20PX;
    box-shadow: 2px 2px 5px  white;
}
input,select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

/*RESPONSIVE*/
@media screen and (max-width: 600px){

.konversi-body {
    width: auto;
    height: auto;
}

.konversi-body ,input {
    text-align: left;
}

#inputtype {
    position: relative;
    bottom: 49px;
    left: 10px;
}

#resulttype {
    position: relative;
    left: 187px;
    bottom: 49px;
}

}
